# Modelo LSTM para predição

---


___

In [27]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd
import math
import requests
import json
import os
import statsmodels.api as sm
import tensorflow as tf
from pandas import concat

from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.filterwarnings("ignore")

from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter('ignore', ConvergenceWarning)

import math

from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
from tensorflow.keras.utils import plot_model
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error

## 1. Importando os datasets

In [28]:
dataset_cluster_series = pd.read_csv("datasets//dataset_cluster0_series.csv", header=0, index_col=0)
dataset_cluster_validacao = pd.read_csv("datasets//dataset_cluster0_validation.csv", header=0, index_col=0)

In [29]:
dataset_cluster_series = dataset_cluster_series.drop('desembolso', axis=1)
dataset_cluster_series = dataset_cluster_series.drop('preco_brent', axis=1)
dataset_cluster_series = dataset_cluster_series.drop('tjlp', axis=1)
dataset_cluster_series = dataset_cluster_series.drop('pib_mensal', axis=1)

dataset_cluster_series.head(20)

,indice_pimpf,ipca,taxa_selic,taxa_cambio,ibcbr,arrecadacao
mes,,,,,,
2004-01-01 00:00:00,104.0,0.76,16.32,136.19,98.59,2.806803e+08
2004-02-01 00:00:00,103.1,0.61,16.30,139.84,99.45,2.225660e+08
2004-03-01 00:00:00,113.0,0.47,16.19,138.89,111.98,2.365442e+08
2004-04-01 00:00:00,107.8,0.37,15.96,138.85,107.36,3.048845e+08
2004-05-01 00:00:00,108.9,0.51,15.77,148.25,106.03,2.715790e+08
2004-06-01 00:00:00,113.1,0.71,15.80,149.04,107.00,2.814511e+08
2004-07-01 00:00:00,110.9,0.91,15.77,143.11,111.47,3.316073e+08
2004-08-01 00:00:00,113.2,0.69,15.86,140.62,110.65,2.881093e+08
2004-09-01 00:00:00,107.6,0.33,16.09,135.23,109.21,2.988051e+08
2004-10-01 00:00:00,103.8,0.44,16.41,133.55,108.89,3.511382e+08
2004-11-01 00:00:00,108.6,0.69,16.96,129.60,109.59,3.128433e+08
2004-12-01 00:00:00,108.9,0.86,17.50,124.90,107.56,3.388283e+08
2005-01-01 00:00:00,105.4,0.58,17.93,123.29,103.52,3.802288e+08
2005-02-01 00:00:00,103.3,0.59,18.47,118.92,104.00,2.741647e+08
2005-03-01 00:00:00,101.0,0.61,18.97,124.02,115.42,2.921672e+08
2005-04-01 00:00:00,105.4,0.87,19.32,118.03,112.35,3.600166e+08
2005-05-01 00:00:00,104.9,0.49,19.61,111.59,110.86,3.181914e+08
2005-06-01 00:00:00,105.6,-0.02,19.75,109.88,111.50,3.192493e+08
2005-07-01 00:00:00,99.9,0.25,19.72,108.29,113.15,3.828965e+08
2005-08-01 00:00:00,103.5,0.17,19.75,108.07,115.15,3.346161e+08

In [30]:
dataset_cluster_series.head(20)

,indice_pimpf,ipca,taxa_selic,taxa_cambio,ibcbr,arrecadacao
mes,,,,,,
2004-01-01 00:00:00,104.0,0.76,16.32,136.19,98.59,2.806803e+08
2004-02-01 00:00:00,103.1,0.61,16.30,139.84,99.45,2.225660e+08
2004-03-01 00:00:00,113.0,0.47,16.19,138.89,111.98,2.365442e+08
2004-04-01 00:00:00,107.8,0.37,15.96,138.85,107.36,3.048845e+08
2004-05-01 00:00:00,108.9,0.51,15.77,148.25,106.03,2.715790e+08
2004-06-01 00:00:00,113.1,0.71,15.80,149.04,107.00,2.814511e+08
2004-07-01 00:00:00,110.9,0.91,15.77,143.11,111.47,3.316073e+08
2004-08-01 00:00:00,113.2,0.69,15.86,140.62,110.65,2.881093e+08
2004-09-01 00:00:00,107.6,0.33,16.09,135.23,109.21,2.988051e+08
2004-10-01 00:00:00,103.8,0.44,16.41,133.55,108.89,3.511382e+08
2004-11-01 00:00:00,108.6,0.69,16.96,129.60,109.59,3.128433e+08
2004-12-01 00:00:00,108.9,0.86,17.50,124.90,107.56,3.388283e+08
2005-01-01 00:00:00,105.4,0.58,17.93,123.29,103.52,3.802288e+08
2005-02-01 00:00:00,103.3,0.59,18.47,118.92,104.00,2.741647e+08
2005-03-01 00:00:00,101.0,0.61,18.97,124.02,115.42,2.921672e+08
2005-04-01 00:00:00,105.4,0.87,19.32,118.03,112.35,3.600166e+08
2005-05-01 00:00:00,104.9,0.49,19.61,111.59,110.86,3.181914e+08
2005-06-01 00:00:00,105.6,-0.02,19.75,109.88,111.50,3.192493e+08
2005-07-01 00:00:00,99.9,0.25,19.72,108.29,113.15,3.828965e+08
2005-08-01 00:00:00,103.5,0.17,19.75,108.07,115.15,3.346161e+08

In [31]:
dataset_cluster_validacao.head(20)

,indice_pimpf,ipca,taxa_selic,taxa_cambio,ibcbr,tjlp,pib_mensal,preco_brent,desembolso,arrecadacao
mes,,,,,,,,,,
2020-01-01 00:00:00,101.5,0.21,4.40,116.16,133.60,5.09,7435826.2,63.60,257.0,6.920943e+08
2020-02-01 00:00:00,99.6,0.25,4.19,121.84,134.63,5.09,7463826.9,55.00,792.0,5.037706e+08
2020-03-01 00:00:00,95.7,0.07,3.95,136.52,136.72,5.09,7485253.1,32.98,1294.0,4.175550e+08
2020-04-01 00:00:00,68.2,-0.31,3.65,147.97,119.13,4.94,7422874.5,23.34,2254.0,3.836352e+08
2020-05-01 00:00:00,76.2,-0.38,3.01,157.50,119.79,4.94,7365193.7,31.02,3078.0,2.867300e+08
2020-06-01 00:00:00,90.3,0.26,2.58,145.32,126.18,4.94,7359646.6,39.93,4283.0,3.333633e+08
2020-07-01 00:00:00,96.8,0.36,2.15,148.27,135.82,4.91,7349280.0,42.81,4883.0,5.704685e+08
2020-08-01 00:00:00,97.5,0.24,1.94,153.47,135.50,4.91,7348772.7,44.26,7081.0,6.852029e+08
2020-09-01 00:00:00,104.9,0.64,1.90,150.84,137.14,4.91,7367379.0,41.09,7525.0,6.239291e+08
2020-10-01 00:00:00,101.2,0.86,1.90,155.93,139.62,4.55,7386165.6,40.47,8319.0,9.337929e+08
2020-11-01 00:00:00,104.1,0.89,1.90,149.31,138.10,4.55,7417829.9,43.23,9338.0,7.715665e+08
2020-12-01 00:00:00,110.2,1.35,1.90,139.66,139.53,4.55,7447858.3,49.87,12673.0,8.833360e+08

## 2. Preparando o dataset para a rede neural LSTM

In [32]:
np.random.seed(10)

In [33]:
serie_cluster = np.array(dataset_cluster_series)

In [34]:
print(serie_cluster)

[[1.04000000e+02 7.60000000e-01 1.63200000e+01 1.36190000e+02
  9.85900000e+01 2.80680269e+08]
 [1.03100000e+02 6.10000000e-01 1.63000000e+01 1.39840000e+02
  9.94500000e+01 2.22566042e+08]
 [1.13000000e+02 4.70000000e-01 1.61900000e+01 1.38890000e+02
  1.11980000e+02 2.36544174e+08]
 ...
 [1.02500000e+02 1.00000000e-01 5.38000000e+00 1.16420000e+02
  1.42760000e+02 6.05621875e+08]
 [9.94000000e+01 5.10000000e-01 4.90000000e+00 1.17740000e+02
  1.38840000e+02 5.20191389e+08]
 [1.00600000e+02 1.15000000e+00 4.59000000e+00 1.14940000e+02
  1.37540000e+02 6.43529681e+08]]

In [35]:
validacao_cluster = np.array(dataset_cluster_validacao)

In [36]:
print(validacao_cluster)

[[ 1.01500000e+02  2.10000000e-01  4.40000000e+00  1.16160000e+02
   1.33600000e+02  5.09000000e+00  7.43582620e+06  6.36000000e+01
   2.57000000e+02  6.92094305e+08]
 [ 9.96000000e+01  2.50000000e-01  4.19000000e+00  1.21840000e+02
   1.34630000e+02  5.09000000e+00  7.46382690e+06  5.50000000e+01
   7.92000000e+02  5.03770581e+08]
 [ 9.57000000e+01  7.00000000e-02  3.95000000e+00  1.36520000e+02
   1.36720000e+02  5.09000000e+00  7.48525310e+06  3.29800000e+01
   1.29400000e+03  4.17554960e+08]
 [ 6.82000000e+01 -3.10000000e-01  3.65000000e+00  1.47970000e+02
   1.19130000e+02  4.94000000e+00  7.42287450e+06  2.33400000e+01
   2.25400000e+03  3.83635245e+08]
 [ 7.62000000e+01 -3.80000000e-01  3.01000000e+00  1.57500000e+02
   1.19790000e+02  4.94000000e+00  7.36519370e+06  3.10200000e+01
   3.07800000e+03  2.86730011e+08]
 [ 9.03000000e+01  2.60000000e-01  2.58000000e+00  1.45320000e+02
   1.26180000e+02  4.94000000e+00  7.35964660e+06  3.99300000e+01
   4.28300000e+03  3.33363311e+08]
 [ 9.68000000e+01  3.60000000e-01  2.15000000e+00  1.48270000e+02
   1.35820000e+02  4.91000000e+00  7.34928000e+06  4.28100000e+01
   4.88300000e+03  5.70468548e+08]
 [ 9.75000000e+01  2.40000000e-01  1.94000000e+00  1.53470000e+02
   1.35500000e+02  4.91000000e+00  7.34877270e+06  4.42600000e+01
   7.08100000e+03  6.85202898e+08]
 [ 1.04900000e+02  6.40000000e-01  1.90000000e+00  1.50840000e+02
   1.37140000e+02  4.91000000e+00  7.36737900e+06  4.10900000e+01
   7.52500000e+03  6.23929059e+08]
 [ 1.01200000e+02  8.60000000e-01  1.90000000e+00  1.55930000e+02
   1.39620000e+02  4.55000000e+00  7.38616560e+06  4.04700000e+01
   8.31900000e+03  9.33792898e+08]
 [ 1.04100000e+02  8.90000000e-01  1.90000000e+00  1.49310000e+02
   1.38100000e+02  4.55000000e+00  7.41782990e+06  4.32300000e+01
   9.33800000e+03  7.71566464e+08]
 [ 1.10200000e+02  1.35000000e+00  1.90000000e+00  1.39660000e+02
   1.39530000e+02  4.55000000e+00  7.44785830e+06  4.98700000e+01
   1.26730000e+04  8.83336040e+08]]

In [37]:
# np.random.seed(10)

### 2.1 Normalizando a escala do dataset

In [38]:
## Criando um scaler para o campo de saída


scaler_in = MinMaxScaler(feature_range=(0, 1))
scaler_out = MinMaxScaler(feature_range=(0, 1))

serie_cluster = scaler_in.fit_transform(serie_cluster)
validacao_cluster = scaler_out.fit_transform(validacao_cluster)



# Criando um scaler específico para a 

arrecadacao = np.array(dataset_cluster_series['arrecadacao'])

arrecadacao = arrecadacao.reshape(-1,1)

arrecadacao = scaler_out.fit_transform(arrecadacao)

print(arrecadacao)

[[0.06819367]
 [0.        ]
 [0.01640253]
 [0.09659596]
 [0.05751389]
 [0.06909819]
 [0.12795357]
 [0.07691122]
 [0.08946212]
 [0.15087199]
 [0.10593511]
 [0.13642696]
 [0.18500808]
 [0.06054806]
 [0.08167294]
 [0.16129026]
 [0.11221085]
 [0.11345224]
 [0.18813853]
 [0.13148427]
 [0.14870294]
 [0.23140035]
 [0.15838702]
 [0.18239136]
 [0.23771304]
 [0.09463931]
 [0.11115658]
 [0.20892641]
 [0.12819653]
 [0.14846093]
 [0.20752643]
 [0.14816741]
 [0.20672858]
 [0.26956121]
 [0.22905984]
 [0.24372933]
 [0.30160667]
 [0.13905087]
 [0.16377006]
 [0.28680624]
 [0.21779151]
 [0.22909661]
 [0.32580268]
 [0.22448975]
 [0.23223633]
 [0.37583277]
 [0.28392345]
 [0.30124503]
 [0.4348308 ]
 [0.24176899]
 [0.28387523]
 [0.37888273]
 [0.311137  ]
 [0.30461949]
 [0.46970807]
 [0.35772636]
 [0.36938158]
 [0.5332128 ]
 [0.37178307]
 [0.31197208]
 [0.43662302]
 [0.20355083]
 [0.2501698 ]
 [0.36800029]
 [0.23776344]
 [0.22000304]
 [0.37838294]
 [0.25264859]
 [0.27962472]
 [0.46640705]
 [0.42890208]
 [0.3760781 ]
 [0.53507119]
 [0.26058589]
 [0.34686368]
 [0.56191991]
 [0.39224649]
 [0.41403194]
 [0.6084484 ]
 [0.45752709]
 [0.50289885]
 [0.70006261]
 [0.54070185]
 [0.56838742]
 [0.82623156]
 [0.42188524]
 [0.53367905]
 [0.67921193]
 [0.50689156]
 [0.55319112]
 [0.77249809]
 [0.61093368]
 [0.66698432]
 [0.84707214]
 [0.66271785]
 [0.65254033]
 [0.9776499 ]
 [0.500993  ]
 [0.66764665]
 [0.85510575]
 [0.59514019]
 [0.59911776]
 [0.81400785]
 [0.66340717]
 [0.66820255]
 [0.91643874]
 [0.7458273 ]
 [0.74166858]
 [0.98195204]
 [0.56308885]
 [0.63844973]
 [0.87971662]
 [0.69324566]
 [0.69015583]
 [0.94052862]
 [0.72043366]
 [0.7158047 ]
 [1.        ]
 [0.76523696]
 [0.76099926]
 [0.99034376]
 [0.56846741]
 [0.61388391]
 [0.81409312]
 [0.61285981]
 [0.57068731]
 [0.76752902]
 [0.97058814]
 [0.65708137]
 [0.97006765]
 [0.86025437]
 [0.75738961]
 [0.8710178 ]
 [0.45145803]
 [0.50295049]
 [0.67950611]
 [0.4365752 ]
 [0.4258474 ]
 [0.60185529]
 [0.44305632]
 [0.4519276 ]
 [0.59607841]
 [0.37545784]
 [0.38413225]
 [0.57160203]
 [0.2462345 ]
 [0.28652155]
 [0.4368091 ]
 [0.27936118]
 [0.27528588]
 [0.44590623]
 [0.29076214]
 [0.25203595]
 [0.39523601]
 [0.24779742]
 [0.24342297]
 [0.41094988]
 [0.14020816]
 [0.17923008]
 [0.32011995]
 [0.18697536]
 [0.21126037]
 [0.29194754]
 [0.21926996]
 [0.27458655]
 [0.3863027 ]
 [0.34132455]
 [0.32548011]
 [0.38445619]
 [0.13924437]
 [0.14897617]
 [0.29236491]
 [0.16528886]
 [0.14260291]
 [0.29953117]
 [0.18277741]
 [0.19034348]
 [0.28700476]
 [0.18415095]
 [0.18680236]
 [0.27911167]
 [0.09218186]
 [0.10565795]
 [0.20388417]
 [0.30544796]
 [0.3076921 ]
 [0.41192753]
 [0.32490799]
 [0.33558395]
 [0.44949379]
 [0.34924607]
 [0.4939764 ]]

In [39]:
print(serie_cluster)

[[0.58379888 0.63870968 0.7737467  0.85310928 0.         0.06819367]
 [0.55865922 0.54193548 0.77242744 0.8948331  0.01606276 0.        ]
 [0.83519553 0.4516129  0.7651715  0.88397348 0.25009339 0.01640253]
 ...
 [0.54189944 0.21290323 0.05211082 0.62711477 0.82499066 0.44949379]
 [0.45530726 0.47741935 0.02044855 0.64220393 0.75177437 0.34924607]
 [0.48882682 0.89032258 0.         0.61019662 0.72749346 0.4939764 ]]

In [40]:
print(validacao_cluster)

[[0.79285714 0.34104046 1.         0.         0.70619815 1.
  0.63784617 1.         0.         0.62646816]
 [0.74761905 0.36416185 0.916      0.13739719 0.75646657 1.
  0.84300896 0.78638847 0.04308956 0.33542423]
 [0.6547619  0.26011561 0.82       0.49250121 0.85846755 1.
  1.         0.23944362 0.08352126 0.20218274]
 [0.         0.04046243 0.7        0.76947267 0.         0.72222222
  0.54294829 0.         0.16084085 0.14976169]
 [0.19047619 0.         0.444      1.         0.03221083 0.72222222
  0.12031764 0.19076006 0.22720683 0.        ]
 [0.52619048 0.3699422  0.272      0.7053701  0.34407028 0.72222222
  0.07967371 0.41207154 0.32425902 0.07206919]
 [0.68095238 0.42774566 0.1        0.77672956 0.81454368 0.66666667
  0.00371702 0.48360656 0.37258376 0.43850226]
 [0.69761905 0.3583815  0.016      0.90251572 0.79892631 0.66666667
  0.         0.51962245 0.5496134  0.61581787]
 [0.87380952 0.58959538 0.         0.83889695 0.87896535 0.66666667
  0.13632947 0.44088425 0.58537371 0.52112253]
 [0.78571429 0.71676301 0.         0.96202225 1.         0.
  0.27398    0.42548435 0.64932345 1.        ]
 [0.8547619  0.73410405 0.         0.80188679 0.92581747 0.
  0.50598621 0.49403875 0.73139497 0.74928799]
 [1.         1.         0.         0.5684567  0.99560761 0.
  0.72600608 0.65896672 1.         0.92202171]]

### 2.2 Convertendo o array em um modelo de dados 3D para entrada na rede LSTM 

---
Créditos: https://machinelearningmastery.com/convert-time-series-supervised-learning-problem-python/

Para fazer a predição, utilizei os 12 primeiros meses para predizer o seguinte. Com isso, o dataset perde 12 meses, uma vez que os 11 primeiros meses não possuem 12 meses anteriores e o último mês não possui valor conhecido da arrecadação do mês subsequente.

___

In [41]:
from pandas import DataFrame
from pandas import concat
 
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    """
    Frame a time series as a supervised learning dataset.
    Arguments:
        data: Sequence of observations as a list or NumPy array.
        n_in: Number of lag observations as input (X).
        n_out: Number of observations as output (y).
        dropnan: Boolean whether or not to drop rows with NaN values.
    Returns:
        Pandas DataFrame of series framed for supervised learning.
    """
    n_vars = 1 if type(data) is list else data.shape[1]
    df = DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg
 
 
raw = DataFrame()
raw['ob1'] = [x for x in range(10)]
raw['ob2'] = [x for x in range(50, 60)]
# values = raw.values
values = pd.DataFrame(serie_cluster).values
serie_cluster_prepared = series_to_supervised(values,12)
print(serie_cluster_prepared)

     var1(t-12)  var2(t-12)  var3(t-12)  var4(t-12)  var5(t-12)  var6(t-12)  \
12     0.583799    0.638710    0.773747    0.853109    0.000000    0.068194
13     0.558659    0.541935    0.772427    0.894833    0.016063    0.000000
14     0.835196    0.451613    0.765172    0.883973    0.250093    0.016403
15     0.689944    0.387097    0.750000    0.883516    0.163803    0.096596
16     0.720670    0.477419    0.737467    0.990969    0.138962    0.057514
..          ...         ...         ...         ...         ...         ...
187    0.522346    0.090323    0.119393    0.593850    0.835637    0.182777
188    0.399441    0.458065    0.119393    0.651120    0.696302    0.190343
189    0.483240    0.438710    0.119393    0.533265    0.768771    0.287005
190    0.427374    0.012903    0.119393    0.535894    0.728988    0.184151
191    0.326816    0.245161    0.119393    0.563443    0.704894    0.186802

     var1(t-11)  var2(t-11)  var3(t-11)  var4(t-11)  ...  var3(t-1)  \
12     0.558659    0.541935    0.772427    0.894833  ...   0.851583
13     0.835196    0.451613    0.765172    0.883973  ...   0.879947
14     0.689944    0.387097    0.750000    0.883516  ...   0.915567
15     0.720670    0.477419    0.737467    0.990969  ...   0.948549
16     0.837989    0.606452    0.739446    1.000000  ...   0.971636
..          ...         ...         ...         ...  ...        ...
187    0.399441    0.458065    0.119393    0.651120  ...   0.119393
188    0.483240    0.438710    0.119393    0.533265  ...   0.086412
189    0.427374    0.012903    0.119393    0.535894  ...   0.073879
190    0.326816    0.245161    0.119393    0.563443  ...   0.052111
191    0.402235    0.354839    0.119393    0.516918  ...   0.020449

     var4(t-1)  var5(t-1)  var6(t-1)   var1(t)   var2(t)   var3(t)   var4(t)  \
12    0.724051   0.167538   0.136427  0.622905  0.522581  0.879947  0.705647
13    0.705647   0.092081   0.185008  0.564246  0.529032  0.915567  0.655693
14    0.655693   0.101046   0.060548  0.500000  0.541935  0.948549  0.713992
15    0.713992   0.314344   0.081673  0.622905  0.709677  0.971636  0.645519
16    0.645519   0.257004   0.161290  0.608939  0.464516  0.990765  0.571902
..         ...        ...        ...       ...       ...       ...       ...
187   0.525263   0.827979   0.411928  0.413408  0.219355  0.086412  0.602080
188   0.602080   0.806500   0.324908  0.519553  0.122581  0.073879  0.636603
189   0.636603   0.741688   0.335584  0.541899  0.212903  0.052111  0.627115
190   0.627115   0.824991   0.449494  0.455307  0.477419  0.020449  0.642204
191   0.642204   0.751774   0.349246  0.488827  0.890323  0.000000  0.610197

      var5(t)   var6(t)
12   0.092081  0.185008
13   0.101046  0.060548
14   0.314344  0.081673
15   0.257004  0.161290
16   0.229174  0.112211
..        ...       ...
187  0.806500  0.324908
188  0.741688  0.335584
189  0.824991  0.449494
190  0.751774  0.349246
191  0.727493  0.493976

[180 rows x 78 columns]

### 2.3 Dividindo o dataset em sets de treino e teste

In [42]:
# split into train and test sets
values = serie_cluster_prepared.values
# Base de treino com 144 meses
periodo_treino = 156
train = values[:periodo_treino, :]
test = values[periodo_treino:, :]

In [43]:
print(train)

[[0.58379888 0.63870968 0.7737467  ... 0.70564701 0.09208069 0.18500808]
 [0.55865922 0.54193548 0.77242744 ... 0.65569273 0.10104595 0.06054806]
 [0.83519553 0.4516129  0.7651715  ... 0.71399177 0.31434442 0.08167294]
 ...
 [0.27374302 0.31612903 0.62401055 ... 0.36362597 0.69760926 0.3863027 ]
 [0.41620112 0.26451613 0.61411609 ... 0.38443073 0.68210684 0.34132455]
 [0.44134078 0.34193548 0.59762533 ... 0.38968907 0.69648861 0.32548011]]

In [44]:
print(test)

[[0.48324022 0.39354839 0.56596306 ... 0.36636946 0.62457975 0.38445619]
 [0.44413408 0.36129032 0.54287599 ... 0.37802926 0.58386253 0.13924437]
 [0.5027933  0.30967742 0.49868074 ... 0.39140375 0.80388495 0.14897617]
 ...
 [0.48324022 0.43870968 0.11939314 ... 0.62711477 0.82499066 0.44949379]
 [0.4273743  0.01290323 0.11939314 ... 0.64220393 0.75177437 0.34924607]
 [0.32681564 0.24516129 0.11939314 ... 0.61019662 0.72749346 0.4939764 ]]

In [45]:
# split into input and outputs
train_X, train_y = train[:, :-1], train[:, -1]
test_X, test_y = test[:, :-1], test[:, -1]
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0], 1, train_X.shape[1]))
test_X = test_X.reshape((test_X.shape[0], 1, test_X.shape[1]))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

(156, 1, 77) (156,) (24, 1, 77) (24,)

## 3. Implementando o modelo LSTM

In [46]:
train_X.shape

(156, 1, 77)

In [ ]:
from tensorflow.keras import initializers

initializer = tf.keras.initializers.GlorotNormal(seed=10)

model = Sequential()

model.add(LSTM(130, return_sequences = True, kernel_initializer=initializer, input_shape=(train_X.shape[1], train_X.shape[2])))
# O método Dropout é utilizado para reduzir o overfitting

model.add(Dropout(0.5))

model.add(LSTM(260, return_sequences = True, kernel_initializer=initializer))
model.add(Dropout(0.5))

# model.add(LSTM(260, return_sequences = True, kernel_initializer=initializer))
# model.add(Dropout(0.3))

# model.add(LSTM(260, return_sequences = True, kernel_initializer=initializer))
# model.add(Dropout(0.3))

# model.add(LSTM(260, return_sequences = True, kernel_initializer=initializer))
# model.add(Dropout(0.3))

# model.add(LSTM(260, return_sequences = True, kernel_initializer=initializer))
# model.add(Dropout(0.3))

model.add(Dense(1))

model.compile(loss='mean_squared_error', optimizer='Adam')
# fit network
history = model.fit(train_X, train_y, epochs=185, batch_size=32, 
                    validation_data=(test_X, test_y), verbose=1, shuffle=False)

In [ ]:
# plot history
plt.plot(history.history['loss'], label='train')
plt.plot(history.history['val_loss'], label='test')
plt.legend()

In [ ]:

plot_model(model, show_shapes=True)

In [ ]:
model.summary()

# 4. Previsão para 2018 e 2019

In [ ]:
# make a prediction


yhat = model.predict(test_X)
test_X_final = test_X.reshape(test_X.shape[0], test_X.shape[2])
# invert scaling for forecast



inv_yhat = np.concatenate((np.squeeze(yhat, axis=(2,)), test_X_final[:, :-1]), axis=1)

# inv_yhat = scaler_in.inverse_transform(inv_yhat)
inv_yhat = inv_yhat[:,0]

# invert scaling for actual

test_y_final = test_y.reshape((len(test_y), 1))
inv_y = np.concatenate((test_y_final, test_X_final[:, 1:]), axis=1)
# inv_y = scaler_in.inverse_transform(inv_y)
inv_y = inv_y[:,0]
# calculate RMSE
rmse = math.sqrt(mean_squared_error(inv_y, inv_yhat))

mape = np.mean(np.abs((inv_y - inv_yhat) / test_y)) * 100
print('Test RMSE: %.3f' % rmse)

In [ ]:
test_y_inv = scaler_out.inverse_transform(test_y_final)
yhat_final_inv = scaler_out.inverse_transform(np.squeeze(yhat, axis=(2,)))

# Plota o valor observado vs previsto. 

plt.figure(figsize=(15,15))

plt.plot(test_y_inv, label='Observado')
plt.plot(yhat_final_inv, label='Previsto LSTM')
plt.legend()
plt.title('Teste LSTM - MAPE: %.4f' % mape)
plt.xticks(ticks=(0,5,11,17,23), labels=['2018-01', '2018-06', '2018-12', '2019-06', '2019-12'])
plt.grid(True,axis='y')
plt.show()